<!--Tracy Kleekamp-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Profile Page</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
      <a class="nav-link" href="home.html"> Home Page</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="ridersettings.html"> Settings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="ridersettings.html"> Profile Page </a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
    </div>
    </div>
  </nav>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-4">
        <div class="card border-light mb-3" style="max-width: 40rem;">
        <div class="card" style="background-color:LightGray;" >
          <br>
          <div class="text-center"> <img class="rounded-lg" class="card-img-top" src="profilepic.jpg" alt="Profile Pic" width="300" height="300">
          <div class="card-body mx-auto">
          </div>
       </div>
       </div>
     </div>
</div>
      <div class="col-8">
        <div class="card border-light mb-3" style="background-color:LightGray;">
        <br>
          <table class="table table-borderless" class="align-bottom">
            <tr>
              <th> Name </th>
              <td>Jon Dosef</td>
            </tr>
            <tr>
              <th> Driver rating</th>
              <td> 4.2 ◆ </td>
            </tr>
            <tr>
              <th> Car(make/model)</th>
              <td> Nissan/Versa</td>
            </tr>
            <tr>
              <th class="font-weight-bold">Car color</th>
              <td>White</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Ride</td>
              <td>Snowboard</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Rider Level</td>
              <td>Dbl Black Diamond</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Favorite Mountain</td>
              <td>Ajax Mountain, Aspen</td>
            </tr>
            <br>


          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="card-deck">
  <div class="card" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">◆◆◆◆◆</h5>
      <p class="card-text"> Safest ride of my life!! </p>
    </div>
    <br>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">◆◆◆◆</h5>
      <p class="card-text">Great conversation, but honestly I just wanted to sleep.</p>
    </div>
    <br>
    <div class="card-footer">
      <small class="text-muted">Last updated 5 days ago</small>
    </div>
  </div>
  <br>
  <div class="card" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">◆◆◆◆◆</h5>
      <p class="card-text">We were stuck in traffic and he pulled off and bought us both Taco Bell!! BEST DRIVER EVER! </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 2 months ago</small>
    </div>
  </div>
  <br>
  <div class="card" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">◆◆</h5>
      <p class="card-text">Not going to lie, the only reason I am giving this guy a bad review is becuase he totally showed me up on the moountain. Dude was ripping around and kept throwing snow at me. Other than that totally safe ride. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 2 months ago</small>
    </div>
  </div>
  <br>
<div class="card" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">◆◆◆◆◆</h5>
    <p class="card-text">Very safe ride up to Breckenridge. Guy slays and I think I just made a boarding homie for life. </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 1 months ago</small>
  </div>
</div>
<br>
</div>
<br>
<br>
<br>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="../resources/js/my_scripts.js"></script>
  </div>
  </body>
</html>
